# Conditions, Control Flow, and Looping

In [1]:
a = 10
b = 20

print (a == b)
print (a != b)
print (a <= b)
print (a >= b)
print (a > b)
print (a < b)

False
True
True
False
False
True

In [3]:
if a == b:
    print ("a tidak sama dengan b")

In [5]:
if 'foo' in 'This is our food':
    print ('foo exists')

foo exists

In [6]:
list1 = [10, 20, 30, 40]
if 20 in list1:
    print ('20 is in list1')

20 is in list1

In [11]:
if not (a != b):
    
    print (a)
    print (a/10)
    print (b)
    print ("a tidak sama dengan b")
    
print ('ini di luar if statement')

ini di luar if statement

In [14]:
if a != b:
    print ('a tidak sama dengan b')
    if a < b:
        print ('a lebih kecil dari b')
    
    print ('statement di dalam if pertama tapi di luar if kedua')
    
    if a > b:
        print ('a lebih besar dari b')

a tidak sama dengan b
a lebih kecil dari b
statement di dalam if pertama tapi di luar if kedua

In [23]:
a = 50
b = 30

if a != b:
    print ('a tidak sama dengan b')
else:
    print ('a sama dgn b')

a tidak sama dengan b

In [26]:
a = 50
b = 50
if a == b:
    print('a sama dengan b')
else:
    if a < b:
        print ('a lbh kecil dr b')
    else:
        print ('a lbh besar dr b')

a sama dengan b

In [27]:
if a == b: print ('a sm dgn b');print ('print kedua')
elif a>b: print ('a lbh besar dr b')
else: print ('a lbh kecil dari b')

a sm dgn b
print kedua

In [40]:
hujan = True
'di luar hujan' if hujan else 'di luar cerah'

print ('ayo pergi ke', 'pantai' if not hujan else 'cafe')

ayo pergi ke cafe

In [39]:
umur = 15
if umur < 15:
    status_ktp = 'belum punya KTP'
else:
    status_ktp = 'sudah punya KTP'

In [ ]:
a = 50
b = 30

if a>=b:
    m = a
else:
    m = b
    
print (m)

In [ ]:
if a > b:
    pass

## Looping

### While Loop

In [ ]:
a = 10

while a > 0:
    print(a)
    a = a-1

In [2]:
a = 10
while a > 0:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1

In [1]:
i = 0
while i < 10:
    print (i)
    i += 2 # i = i + 1

0
2
4
6
8

In [7]:
i = 0
while i < 10:
    if i == 3:
        break
    print (i)
    i += 1 # i = i + 1

0
1
2

In [9]:
i = 0
while i < 10:
    i += 1 # i = i + 1
    
    if i == 3:
        continue
        
    print (i)

1
2
4
5
6
7
8
9
10

In [10]:
i = 0
while i < 10:
    i += 1 # i = i + 1
    
    if i == 3:
        pass
        
    print (i)

1
2
3
4
5
6
7
8
9
10

In [12]:
i = j = 0
while i < 10:
    j = 0
    while j < 10:
        print (i, end= ' ')
        j += 1
        
    print ()
    i += 1

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [14]:
i = 0
while i < 10:
    i += 1 # i = i + 1
    if i == 3:
        break
    print (i)
else:
    print ('akhir loop')
    
print ('di luar loop')

1
2
di luar loop

### For Loop

In [17]:
list2 = ['abc', 'def', 'hij', 'klm']

for i in list2:
    print (i)
    print (len(i))

abc
3
def
3
hij
3
klm
3

In [22]:
dictionary1 = {
    'pertama': 1,
    'kedua': 2,
    'ketiga': 3,
    'keempat': 4
}

for key in dictionary1:
    print(key)
    print(dictionary1[key])

pertama
1
kedua
2
ketiga
3
keempat
4

In [23]:
for number in (0,1,2,3,4):
    print (number)

0
1
2
3
4

In [24]:
for number in range (5):
    print (number)

0
1
2
3
4

range (n-1)

In [25]:
for number in range (1,10):
    print (number)

1
2
3
4
5
6
7
8
9

0 tidak masuk

In [26]:
for number in range (0,10,2):
    print (number)

0
2
4
6
8

In [30]:
i = 0
for i in range (1,11):
    if i == 3:
        break
    print (i)

1
2

In [33]:
for i in range (1,11):
    if i == 3:
        break
    print (i)
else:
    print("loopp selesai")

1
2